/*#362417, #92817a, #f1dabf, #fffbff, #04030f*/

html {
  display: flex;
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex: 1;
  margin: 0;
  flex-direction: column;
  background-color: #f1dabf;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  align-items: center;
  justify-content: space-between;
}

#header {
  display: flex;
  height: 200px;
  background-color: #362417;
  width: 100%;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-bottom: #92817a solid 16px;
}

.logo {
  font-size: 64px;
  color: aliceblue;
  border: antiquewhite solid;
  padding: 16px;
  margin-bottom: 16px;
}

.button-group {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.btn {
  flex: 0;
  min-width: 100px;
  height: 40px;
  background-color: #92817a;
  color: white;
  border: none;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 16px;
}

.btn-active.btn {
  border-bottom: white solid 4px;
  transition: 0.1s;
}

#content {
  display: flex;
  flex-shrink: 0;
  background-color: #92817a;
  width: 800px;
  margin: 100px 0;
  border: #362417 solid 16px;
  border-radius: 16px;
}

.home-content {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  align-items: center;
  width: 100%;
}

.images {
  height: 300px;
  border: solid #04030f;
  border-radius: 32px;
}

.attention {
  color: white;
  font-size: 44px;
}

.bottom {
  color: white;
  font-size: 24px;
}

#menu-content {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;

  width: 100%;
  margin: 32px;
  justify-content: flex-start;
  align-items: flex-start;
}

#menu-container {
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  margin: 24px;
  justify-content: flex-start;
  align-items: flex-start;
}

.menu-item {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  flex-grow: 0;
  align-items: center;
  text-align: center;
  width: 300px;
  height: 200px;
  background-color: #f1dabf;
  border: #362417 solid 2px;
  border-radius: 16px;
  margin: 16px;
}

#contact-content {
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: 24px;
  color: white;
}

.textpadding {
  padding: 8px;
}

#footer {
  display: flex;
  width: 100%;
  background-color: #362417;
  height: 108px;
  flex-shrink: 0;
  color: aliceblue;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}
